<div class="nav-menu">
	<table>
		<tr>
		<img src="https://s3-us-west-1.amazonaws.com/mobilecleanse/look_up.gif">
		<br>
			<%= link_to "home", "/home" %> | <%= link_to "the cleanse", "/cleanse" %> | <%= link_to "pledge", "/pledge" %> | <%= link_to "chatter", "/chatter" %> | <%= link_to "about me", "/about" %> | <%= link_to "buy stuff", "/store" %> 
		</tr>
	</table>
</div>