<!DOCTYPE html>
<html>
<head>
	<title>Mobile Cleanse</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</body>
</html>
